<h1 class="transaction-add-header">Edit</h1>

<form class="transaction-container" action="/transactions/<%=@transaction.id%>" method="POST">
  <label for="transaction-date">Enter the Transaction Date</label>
  <input type="date" name="transaction_date" id="transaction-date">

  <label for="transaction-amount">Amount:</label>
  <input type="text" name="amount" id="transaction-amount" placeholder="Example 5.99">

  <label for="merchant-select">Select Merchant:</label>
  <select name="merchant_id" id="merchant-select">
    <%for merchant in @merchants %>
    <option value="<%= merchant.id%>"> <%= merchant.name %> </option>
    <% end %>
  </select>

  <label for="tag-select">Select Transaction Tag:</label>
  <select name="tag_id" id="tag-select">
    <%for tag in @tags %>
    <option value="<%= tag.id%>"> <%= tag.type %> </option>
    <% end %>
  </select>

  <label for="description-text">Description:</label>
  <input type="text" name="description" id="description-text" placeholder="Simple Description">

  <button type="submit">Add</button>
</form>

<br>
<p class="back-button"><a href="/transactions"> Back</a></p>
