  <div class="transaction-links">
    <p>View by:</p>
    <a class="view-links" href="/transactions/dates">Date</a>
    <a class="view-links" href="/transactions/merchants">Merchant</a>
    <a class="view-links" href="/transactions/tags">Tags</a>
    <p>Or lets:</p>
    <p class="add-transaction-button"><a href="/transactions/new">Add Transaction</a></p>
  </div>

  <br>
  <p class="transaction-total">Total Transaction Value: £<%= sprintf('%.2f', @total_transaction_value) %></p>

  <table>
    <tr>
      <th>Date</th>
      <th>Amount</th>
      <th>Merchant</th>
      <th>Spending Tag</th>
      <th>Description</th>
    </tr>
    <% for transaction in @transactions %>
    <tr>
      <td><%= transaction.flip_date(transaction.transaction_date) %></td>
      <td>£<%= sprintf('%.2f', transaction.amount) %></td>
      <td><%= transaction.merchant.name %></td>
      <td><%= transaction.tag.type%></td>
      <td><%= transaction.description%></td>
      <td><a href="/transactions/<%=transaction.id%>/edit">Edit</a></td>
      <td>
        <form action="/transactions/<%= transaction.id %>/delete" method="POST">
          <input class="table-button" type="submit" value="Delete">
        </form>
      </td>
    </tr>
    <% end %>
  </table>
