<form action="/transactions/dates/" method="POST">
  <label for="month-find">Month:</label>
  <select name="month_index" id="month-find">
    <option value="01">January</option>
    <option value="02">Febuary</option>
    <option value="03">March</option>
    <option value="04">April</option>
    <option value="05">May</option>
    <option value="06">June</option>
    <option value="07">July</option>
    <option value="08">August</option>
    <option value="09">September</option>
    <option value="10">October</option>
    <option value="11">November</option>
    <option value="12">December</option>
  </select>

  <label for="year-find">Year: </label>
  <input name="year" type="number" min="1900" max="2099" step="1" value="2019" id="year-find" />

  <input type="submit" value="View">
</form>

<table>
  <tr>
    <th>Date</th>
    <th>Amount</th>
    <th>Merchant</th>
    <th>Spending Tag</th>
    <th>Description</th>
  </tr>
  <% for transaction in @month_transactions %>
  <tr>
    <td><%= transaction.flip_date(transaction.transaction_date) %></td>
    <td>£<%= sprintf('%.2f', transaction.amount) %></td>
    <td><%= transaction.merchant.name %></td>
    <td><%= transaction.tag.type%></td>
    <td><%= transaction.description%></td>
    <td><a href="/transactions/<%=transaction.id%>/edit">Edit</a></td>
    <td>
      <form action="/transactions/<%= transaction.id %>/delete" method="POST">
        <input type="submit" value="Delete">
      </form>
    </td>
  </tr>
  <% end %>
</table>

<br>
<a href="/transactions">< Back</a>
