<form class="" action="/transactions/merchants/" method="post">
  <label for="merchant-select">Select Merchant:</label>
  <select name="merchant_term" id="merchant-select">
      <%for merchant in @merchants %>
      <option value="<%= merchant.id%>"> <%= merchant.name %> </option>
      <% end %>
    </select>
  <input type="submit" value="View">
</form>


<table>
  <tr>
    <th>Date</th>
    <th>Amount</th>
    <th>Merchant</th>
    <th>Spending Tag</th>
    <th>Description</th>
  </tr>
  <% for transaction in @merchant_transactions %>
  <tr>
    <td><%= transaction.flip_date(transaction.transaction_date) %></td>
    <td>£<%= sprintf('%.2f', transaction.amount) %></td>
    <td><%= transaction.merchant.name %></td>
    <td><%= transaction.tag.type%></td>
    <td><%= transaction.description%></td>
    <td><a href="/transactions/<%=transaction.id%>/edit">Edit</a></td>
    <td>
      <form action="/transactions/<%= transaction.id %>/delete" method="POST">
        <input class="table-button" type="submit" value="Delete">
      </form>
    </td>
  </tr>
  <% end %>
</table>

<br>
<p class="back-button"><a href="/transactions"> Back</a></p>
